$primary-color: #02BE3B
$secondary-color: #BC383B
$light-color: #fff
$dark-color: #333
$gray-text-color: #b9babc
$bg-color: #15161D
$secondary-bg-color: #1e1f29
$section-bg-color: #e4e7ed
$link-color: #2b2d42
$container-width: 1170px
$border-color: #b9babc
$linha-zebrada: #ccc